# 1. Carga y Limpieza de Datos de BTC/USDT

Este notebook carga los datos histÃ³ricos de precios de Bitcoin (BTC/USDT) desde un archivo CSV, realiza una limpieza bÃ¡sica de columnas irrelevantes, y filtra el rango de fechas de interÃ©s.

ðŸ“… **Rango de fechas usado:**  
Desde el `2024-01-20` hasta el `2025-06-20`.

In [1]:
import pandas as pd
from modules.load_data import load_ohlcv_csv

In [2]:
csv_file = 'data/Bitstamp_BTCUSDT_d.csv'

In [3]:
start = '2024-01-20'
end = '2025-06-20'

In [4]:
btc_data = load_ohlcv_csv(csv_file, start_date=start, end_date=end)

In [5]:
btc_data.head()

               open     high      low    close  Volume BTC   Volume USDT
date
2024-01-20  41672.0  41823.0  41493.0  41693.0    6.842462  2.852828e+05
2024-01-21  41722.0  41855.0  41536.0  41537.0    2.771034  1.151004e+05
2024-01-22  41564.0  41663.0  39449.0  39533.0   48.193464  1.905232e+06
2024-01-23  39554.0  40157.0  38533.0  39871.0   67.277449  2.682419e+06
2024-01-24  39934.0  40480.0  39490.0  40090.0   36.448158  1.461207e+06

In [6]:
btc_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 518 entries, 2024-01-20 to 2025-06-20
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open         518 non-null    float64
 1   high         518 non-null    float64
 2   low          518 non-null    float64
 3   close        518 non-null    float64
 4   Volume BTC   518 non-null    float64
 5   Volume USDT  518 non-null    float64
dtypes: float64(6)
memory usage: 28.3 KB

In [7]:
btc_data.describe()

,open,high,low,close,Volume BTC,Volume USDT
count,518.000000,518.000000,518.000000,518.000000,518.000000,5.180000e+02
mean,76404.333977,77865.001931,74912.886100,76516.523166,24.490180,1.740489e+06
std,18380.542336,18589.439695,18102.695545,18347.917650,30.198000,2.134567e+06
min,39554.000000,40157.000000,38533.000000,39533.000000,0.393221,3.911655e+04
25%,62823.250000,63861.500000,61182.500000,62863.250000,5.404182,4.077794e+05
50%,69294.000000,70295.500000,67954.000000,69353.500000,13.826119,9.999008e+05
75%,95022.250000,96524.250000,93626.000000,95255.250000,31.830749,2.184194e+06
max,111524.000000,111910.000000,109600.000000,111677.000000,252.363329,1.609018e+07

In [8]:
btc_data.to_csv('btc_data_clean.csv')